.center {
 color: yellow;
 margin: auto;
 width: 60%;
 padding: 10px;
 text-align: center;
 text-shadow: 2px 2px black;
 font-family: sans-serif;
}

body {
 background-image: url(yur.png);
 background-position: center;
}

.center2 {
 color: yellow;
 margin: auto;
 width: 60%;
 padding: 10px;
 text-align: left;
 text-shadow: 2px 2px black;
 font-family: sans-serif;
}